manifest {
    name = 'BCCDC-PHL/riboscope'
    description = 'Mutation monitoring of rRNA genes'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.6'
    version = '0.9.9'
}

def makeFastqSearchPath ( base_path, fastq_suffixes, fastq_exts ) {
    def fastq_search_path = []
    for (suffix in fastq_suffixes){
        for (ext in fastq_exts) {
            fastq_search_path.add(base_path.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

def parseMinorVersion(version) {
    minor_version = version.split('\\.')[0..1].join('.')
    return minor_version
}

def parsePipelineName(name) {
    short_name = name.split('/')[1]
    return short_name
}

params {
    profile = false
    cache = ''
    illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    nanopore_suffixes = ['*_RL']
    fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
    fastq_search_path = makeFastqSearchPath( params.fastq_input, illumina_suffixes, fastq_exts )
    fastq_input = 'NO_FILE'
    samplesheet_input = 'NO_FILE'
    ref = 'NO_FILE'
    bed = 'NO_FILE'
    gff = 'NO_FILE' // to reassign vcf coords according to features provided
    search_seqs = 'NO_FILE'
    align_untrimmed_reads = false
    min_qual_for_variant_calling = 20
    min_depth = 50
    max_depth = 0
    min_lofreq_cov = params.min_depth
    min_vaf = 0
    min_iupac = params.min_vaf // vaf < min_iupac = ref in consensus. sites with alt alleles between min_iupac & max_iupac = mixed 
    max_iupac = 0.9 // vaf that an alt is called in consensus 
    qualimap_memory = '4G'
    qualimap_coverage_histogram_limit = 100
    coverage_plot_y_limit = 2000
    coverage_plot_log_scale = false
    coverage_plot_width_inches_per_mb = 400
    coverage_plot_height_inches_per_chrom = 6
    coverage_plot_window_size = 50
    outdir = 'results'
    collect_outputs = false
    collected_outputs_prefix = 'collected'
    pipeline_short_name = parsePipelineName(manifest.toMap().get('name'))
    pipeline_minor_version = parseMinorVersion(manifest.toMap().get('version'))
    skip_alignment_cleaning = true
    apply_qc = false
    min_amplicon_count = 300 // minimum median count to consider an amplicon as sufficiently sequenced
    min_q20_rate = 0.95
    min_q30_rate = 0.85
    min_mean_bq = 30
    min_mean_depth = 100 //minimum mean depth of coverage != min_depth (var calling)
    min_mapped_paired = 1000
    min_percent_mapped = 0.8
    min_mapped_reads = 100
    min_mean_mq = 50
    min_10X_cov = 0.85
    min_50X_cov = 0.85
    max_secondary = 0
    min_pos_count = 100 // positive control query seq count
    max_qc_flags = 5 //maximum number of allowable flags before sample fails QC
    qc_output = "qc_summary"
    html_template = "$baseDir/assets/report_template.html"
    // taxonomy related params
    kraken2_db = 'NO_FILE'
    bracken_db = 'NO_FILE'
    taxonomy_level = "S1"
    read_length = 150
    host_name = "Homo sapiens"
    pathogen_name = "Treponema" 
    kraken2_output = "kraken2_summary"
    min_pathogen = 85.0 // minimum percentage of reads in a sample classified as pathogen
    max_host = 5.0
    // reporting - related params
    reporting_vaf = 0.9
    reporting_sample_perc = 0.3
}


plugins {
  id 'nf-prov@1.3.0'
}
prov {
  enabled = true
  formats {
    // bco {
    //   file = "${params.outdir}/bco.json"
    //   overwrite = true
    // }
    // contains script block run
    legacy {
      file = "${params.outdir}/provenance.json"
      overwrite = true
    }
  }
}

profiles {
    conda {
	conda.enabled = true
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }
    apptainer { 
	apptainer.enabled = true
	process.container = "oras://ghcr.io/j3551ca/amplicon-consensus:de73c6515930fc3c"
	if (params.cache){
	    apptainer.cacheDir = params.cache
	}
    }
    test {
        params.fastq_input       = "${projectDir}/tests/data"
        params.illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
        params.fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
        params.fastq_search_path = makeFastqSearchPath( params.fastq_input, params.illumina_suffixes, params.fastq_exts )              
        params.search_seqs       = "${projectDir}/tests/data/unique_amplicon_seqs.fa"
        params.ref               = "${projectDir}/tests/data/test_ref.fa"
        params.bed               = "${projectDir}/tests/data/ribo_repeat1.bed"
        params.gff               = "${projectDir}/tests/data/test.gff3"
        params.kraken2_db_url    = "https://genome-idx.s3.amazonaws.com/kraken/16S_Greengenes13.5_20200326.tgz"
        params.outdir            = "riboscope_test_results"
        params.min_amplicon_count = 40
        params.min_depth         = 1
        params.min_pathogen       = 1.0
        params.max_qc_flags      = 12
        params.apply_qc          = true
    }
}

process {
    withName: 'bwa_mem|extract_fastq_from_bam' {
	cpus = 24
    }
    withName: qualimap_bamqc {
	cpus = 16
	memory = '36G'
    }
    withName: 'plot_coverage|qc_filter|report_results|summarize_kraken2|adjust_variant_coordinates' {
	conda = "$baseDir/environments/py_environment.yml"
	container = "oras://ghcr.io/j3551ca/amplicon-consensus-plot-coverage:29461291afe79794"
    }
    withName: plot_amplicon_coverage {
	conda = "$baseDir/environments/py_environment.yml"
	container = "oras://ghcr.io/j3551ca/amplicon-consensus-plot-coverage:29461291afe79794"
    }
    withLabel: 'kraken2_bracken' { 
	cpus = 8 
	memory = '72 GB'
    }
}
